<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
        <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <style>
            .back {
                background: red;
                width: 100px;
                height: 100px;
            }
            .color {
                color:beige;
            }
            .classDt{
                color: blueviolet
            }
        </style>
    </head>
    <body>
        <div id="app">
                标题  <span v-bind:title="date">{{date}}</span>
                <span v-if="seen">显示隐藏</span>
                <ol>
                    <li v-for="item in arrayList">
                        {{ item.name }}  
                        {{item.age}}
                    </li>
                </ol>
                <button v-on:click="myclick" onclick="myclick1">按钮</button>
                <a v-bind:[href]="url" v-on:mouseEnter="myMouseEnter" v-on:mouseOut="myMouseOut" @click="22" :title="333">最新属性</a>
                <div>{{message}}</div>
                <input v-model="message" />
                <div>
                    <ol>
                        <to-item v-for="item in vageList" v-bind:todo="item" v-bind:key="item.id"></to-item>
                    </ol>
                </div>
                <div><ul><mycomponent v-for="item in arrayList" v-bind:myprops="item" v-bind:key="item.id"></mycomponent></ul></div>
        </div>
        <div id="app-1">
            <ul>
                <app-nav  v-for="item in brrList" v-bind:an="item" v-bind:key="item.id"></app-nav>
            </ul>
            <app-view>
                <app-slidebar></app-slidebar>
                <app-content></app-content>
            </app-view>
            <span>{{mespan}}</span>
            <span>{{mespanres}}</span>
        </div>
        <!--侦听器 -->
        <div id="watch-example"> <p><input v-model="question" /></p><p>{{answer}}</p><img v-bind:src="urlImg" /></div>
        <!--class style属性-->
        <div id="class-demo">
            <div :class="{ color: 'red', fontSize:  '18px' }" class="classDt">样式class style 对象样式 数组样式</div>
            <h1 v-if="awesome">Vue is awesome!</h1>
            <h1 v-else>Oh no 😢</h1>

            <template v-if="ok"> <!--不会渲染tempalte-->
                    <h1>Title</h1>
                    <p>Paragraph 1</p>
                    <p>Paragraph 2</p>
            </template>
            <template>
                    <div v-if="type === 'A'">
                        A
                    </div>
                    <div v-else-if="type === 'B'">
                        B
                    </div>
                    <div v-else-if="type === 'C'">
                        C
                    </div>
                    <div v-else>
                        Not A/B/C
                    </div>
            </template>
        </div>
        <!--todolist-->
        <div id="todo-list-example">
            <form v-on:submit.prevent="addNewtodo">
                <label for="new-todo">Add a todo</label>
                <!-- <input v-model="newTodoText" id="new-todo" placeholder="请输入" />
                 -->
                 <input v-on:keyup.enter="submit" v-model="newTodoText" id="new-todo" placeholder="请输入"  />
                <button>Add</button>
            </form>
            <ul>
                <li 
                    is="todo-item" 
                    v-for="(todo,index) in todos"
                    :key="todo.id"
                    :title="todo.title"
                    v-on:remove="todos.splice(index,1)"
                >
                   
                </li>
            </ul>
        </div>
        <!--复选框-->
        <div id='example-3'>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>Checked names: {{ checkedNames }}</span>
                <br>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>Picked: {{ picked }}</span>
                <br>
                <select v-model="selected" multiple >
                    <option disabled value="">请选择</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <br>
                <span>Selected: {{ selected }}</span>
                <br>
                <select v-model="selected">
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <br>
                <span>Selected: {{ selected }}</span>
        </div>
    </body>
    <script>
        new Vue({
            el:'#example-3',
            data:{
                checkedNames: [],
                picked: '',
                selected: '',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ]
            }
        })
        Vue.component('todo-item',{
            template:'<li> {{title}} <button @click="$emit(\'remove\')">Romove</button></li>',
            props:['title']
        })
        let tlexVm = new Vue({
            el:'#todo-list-example',
            data:{
                newTodoText:'',
                todos: [
                    {
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ],
                nextTodoId: 4
            },
            methods:{
                addNewtodo:function(){
                    this.todos.push({
                        id:this.nextTodoId++,
                        title:this.newTodoText
                    })
                    this.newTodoText=""
                }
            }
        })
        let vm = new Vue({
            el:'#class-demo',
            data:{
                classObject:{
                    back:true,
                    color:false
                },
                isActive:true,
                error:false,
                isback:'back',
                iscolor:'color',
                awesome:true,
                ok:true,
                yesno:false,
                type:'B',
                userProfile: {
                    name: 'Anika'
                }
            },
            computed:{
                classComputed:function(){
                    return {
                        back: this.isActive && !this.error,
                        color: this.error
                    }
                }
            }
        })
        Vue.set(vm.userProfile,"age",28)
        vm.$set(vm.userProfile,'range',40)
 
        vm.userProfile = Object.assign({}, vm.userProfile, {
            height: 27,
            favoriteColor: 'Vue Green'
        })
        console.log(vm.userProfile)
        // Vue.component('ztq',function(){
        //     template:''
        // })
        new Vue({
            el:'#watch-example',
            data:{
                question:'',
                answer:'输入一个问题，才会有答案',
                urlImg:''
            },
            watch:{
                question:function(){
                    this.answer = 'Waiting for you to stop typing...'
                    this.debouncedGetAnswer()
                }
            },
            created:function(){
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods:{
                getAnswer:function(){
                    if(this.question.indexOf('?')===-1){
                        this.answer = 'Question must need a question mark'
                        return
                    }
                    this.answer = 'Thinking...'
                    this.urlImg =""
                    var vm = this;
                    axios.get('https://yesno.wtf/api').then(function(response){
                        vm.answer = _.capitalize(response.data.answer);
                        vm.urlImg = response.data.image
                    }).catch(function(error){
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })
                }
            }
        })
        Vue.component('app-nav',{
            props:['an'],
            template:'<li>{{an.name}}</li>'
        })
        Vue.component('app-view',{
            template:'<div></div>'
        })
        Vue.component('app-slidebar',{
            template:'<div></div>'
        })
        Vue.component('app-content',{
            template:'<div></div>'
        })
        let appComponent = new Vue({
            el:'#app-1',
            data:{
                brrList:[{     
                    id:1,
                    name:"vue-1",
                    age:"vue-1",
                    },{     
                    id:2,
                    name:"vue-2",
                    age:"vue-2",
                    }],
                mespan:"222444",
         
            },
            computed:{
                mespanres:function(){
                    return this.mespan.split('').reverse().join('')
                }
            },
            beforeCreate:function(){
                debugger
            },
            created:function(){
                debugger
            },
            beforeMount:function(){
                debugger
            },
            mounted:function(){
                debugger
            },
            beforeUpdate:function(){
                debugger
            },
            updated:function(){
                debugger
            },
            beforeDestroy:function(){
                debugger
            },
            destroyed:function(){
                debugger
            }
        })
        // appComponent.$destroy();
        //vue定义一个组件
        Vue.component('to-item',{
            props:['todo'],
            template:'<li>{{todo.bane}}</li>'
        })
        Vue.component("mycomponent",{
            props:['myprops'],
            template:'<li>{{myprops.name}}</li>'
        })
        let app = new Vue({
            el:"#app",
            beforeMount:function(){
                this.oid && clearInterval(this.oid)
            },
            mounted:function(){
                // let count=()=>{
                //     this.oid && clearInterval(this.oid)
                //     this.oid = setInterval(()=>{this.date = new Date().toLocaleString();count();},1000)
                // }
                // count();
                const loop=()=>{
                    this.oid && clearInterval(this.oid)
                    this.oid = setInterval(()=>{this.date = new Date().toLocaleString();loop();},1000)
                }
                loop();
            },
            data:{
                href:'href',
                url:'https://www.baidu.com',
                message:"",
                mes:"标题",
                date:new Date().toLocaleString(),
                seen:false,
                arrayList:[{
                    id:1,
                    name:"vue-1",
                    age:"vue-1",
                },{
                    id:2,
                    name:"vue-2",
                    age:"vue-2",
                },{
                    id:3,
                    name:"vue-3",
                    age:"vue-3",
                }],
                vageList:[{
                    id:1,
                    bane:"苹果"
                },{
                    id:2,
                    bane:"蔬菜"
                },{
                    id:3,
                    bane:"香蕉"
                }]
            },
            methods:{
                22:function(){
                },
                myclick:function(){
                 
                    this.date = this.date.split('').reverse().join('') //反转消息
                    app.seen = !app.seen
                },
                myMouseEnter:function(){
                    app.seen = !app.seen
                },
                myMouseOut:function(){
                    app.seen = !app.seen
                }
            }
        });
        console.log(app.$el === document.getElementById('app'))
        // app.$data = data
       let  myclick1  = function(){
          
            app.arrayList.push({ id:4,name:"vue-4",age:"vue-4",})
            app.arrayList.splice(2,1)
            alert(app.mes + app.date)
        }
    </script>

</html>